.found-elements-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    max-width: 1400px;
    width: 100%;
    margin: 16px auto;
}

.found-element-card {
    padding: 8px 8px;
    background-color: var(--bg-light);
    border: 2px solid transparent;
    border-radius: 16px;
    box-shadow: var(--shadow);
    transition: transform 0.2s ease, border 0.2s ease;
}

.found-element-card:hover {
    cursor: pointer;
    border: 2px solid var(--primary);
    transform: translateY(-4px);
}

.found-element-card a {
    color: var(--text-color);
    height: 100%;
    text-decoration: none;
}

.found-element-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
    font-size: 26px;
}

.secondary-info {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    color: var(--text-muted);
}

.secondary-info > div {
    padding: 0 10px;
    width: fit-content;
    font-size: 16px;
    background-color: var(--bg);
    border: none;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

@media (max-width: 1440px) {
    .found-elements-grid {
        width: auto;
        margin: 16px 20px;
    }
}