.found-elements-flex {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    max-width: 1400px;
    margin: 15px auto;
}

.found-element-card {
    padding: 8px 16px;
    background-color: var(--bg);
    border: 2px solid transparent;
    border-radius: 16px;
    box-shadow: var(--shadow);
    transition: transform 0.2s ease, border 0.2s ease;
}

.found-element-card:hover {
    cursor: pointer;
    border: 2px solid var(--primary);
    transform: translateY(-4px);
}

.found-element-card a {
    color: var(--text-color);
    height: 100%;
    text-decoration: none;
}

.found-element-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-color);
    font-size: 30px;
}

@media (max-width: 1440px) {
    .found-elements-flex {
        margin: 2rem 20px;
    }
}