.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0 auto;
    max-width: 1400px;
    width: 100%;
}

.search-container > .left {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 40%;
    max-width: 600px;
    font-size: 22px;
}

.search-bar {
    flex-shrink: 1;
    flex-grow: 1;
    height: 40px;
    width: 100%;
}

.search-btn {
    height: 40px;
    width: fit-content;
}

.search-container > .right {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.right button {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0;
    aspect-ratio: 1/1;
    height: 40px;
    font-size: 30px;
    border-radius: 0.5em;
    
}

.right button:after, .right button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--text-light);
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.right button:before{
    width: 4px;
    height: 20px;

}

.right button:after{
    width: 20px;
    height: 4px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    padding: 0 16px;
    border-radius: 16px;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
}

.filters-header {
    font-size: 22px;
    font-weight: 600;
}

.radio-button-label {
    font-size: 20px;
    align-items: center;
}

@media (max-width: 1440px) {
    .search-container {
        width: auto;
        margin: 30px 20px 0 20px;
    }
}