{% extends 'common/base.html' %}


{% block title %}Запрос на покупку{% endblock %}


{% block links %}
    <link rel="stylesheet" href="/static/css/common/block.css">
    <link rel="stylesheet" href="/static/css/items/purchase.css">
    <link rel="stylesheet" href="/static/css/items/item.css">
    <link rel="stylesheet" href="/static/css/common/form.css">
{% endblock %}


{% block content %}

    <main>
        <div class="block purchase">

            <div class="block-header">
                <span>Покупка</span>
            </div>
            
            <div class="purchase-info">
                
                <img class="item-image" src="/static/images/items_images/{{ item.photo }}">
                
                <div class="fields-container purchase-secondary-info">
                    
                    <div>
                        <label>Дата покупки</label>
                        <input class="purchase-date" value="{{ purchase.date }}" readonly>
                    </div>
                    
                    <div>
                        <label>Статус</label>
                        {% if purchase.status == "Ждёт вас" %}

                        <input value="Ожидает" readonly>

                        {% else %}

                        <input value="{{ purchase.status }}" readonly>

                        {% endif %}
                    </div>
                    
                </div>

                <div class="item-header">
                    <span class="item-name">{{ item.name }}</span>
                    <span class="purchase-count">{{ purchase.count }} шт.</span>
                    <span class="purchase-price">{{ item.price * purchase.count }} <img src="/static/images/coin.png"></span>
                </div>
                
                <button class="accent can-be-recieved" onclick="window.location.pathname = '/shop/{{ item.id }}'">Купить ещё раз</button>     
                
            </div>

        </div>
    </main>

{% endblock %}