{% extends "common/base.html" %}


{% block title %}История покупок{% endblock %}


{% block links %}
  <link rel="stylesheet" href="/static/css/common/search/found-elements.css">
  <link rel="stylesheet" href="/static/css/items/purchases.css">
{% endblock %}


{% block content %}

  {% if items_list %}
    <div class="found-elements-grid">
      {% for item in items_list %}
        <div class="found-element-card">
          <a href="purchases/{{ item.id }}">
            <div class="found-element-info">
              <div class="purchase-info">
                <div class="purchase-top-info">

                  {% if item.status == 'Принята' %}
                    <div class="status accepted">{{ item.status }}</div>

                  {% elif item.status == 'Ждёт вас' %}
                    <div class="status can-be-received">{{ item.status }}</div>

                  {% elif item.status == 'Получена' %}
                    <div class="status received">{{ item.status }}</div>

                  {% endif %}

                  <div>{{ item.date }}</div>

                </div>
                
                <div class="name">{{ item.name }}</div>

                <div class="secondary-info">
                  <div>{{ item.count }} ед.</div>
                </div>

              </div>
            </div>
          </a>
        </div>
        
      {% endfor %}
    </div>
  {% else %}
    <div id="no-purchases">У вас пока нет покупок.</div>
  {% endif %}

{% endblock %}
