{% extends "common/base.html" %}


{% block title %}Успешная покупка{%endblock title %}


{% block links %}
  <link rel="stylesheet" href="/static/css/common/block.css">
{% endblock links %}


{% block content %}
  <main>

    <div class="block">
      <div class="block-header">
        <span>Вы сделали запрос на покупку!</span>
      </div>
      <div>Запрос находится в рассмотрении! Проследить за его статусом можно в <a href="/purchases">истории покупок</a>.</div>
    </div>

  </main>
  
{% endblock content %}