.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;
    width: fit-content;
    margin: 0px auto;
    padding: 20px;
    font-size: 24px;
    background-color: var(--bg);
    border-radius: 0.6em;
    box-shadow: var(--shadow-big);
}

.form .fields-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fields-container > div {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.fields-container > div .select {
    width: 100%;
}

.fields-container > div > label {
    color: var(--text-muted);
    font-size: 0.71em;
    margin-left: 0.65em;
}

.fields-container > div > input {
    width: auto;
    height: calc(100% - 24px);
}

.fields-container > div > textarea {
    resize: none;
    width: auto;
    height: calc(100% - 24px);
}

.fields-container input[readonly] {
    caret-color: transparent;
    cursor: text;
}



.file-input {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
    border-radius: 16px;
    width: auto;
    height: calc(100% - 24px);
}

.file-input > input {
    position: absolute;
    display: none;   
}

.file-input > .selected-file {
    flex: 1 1;
    box-sizing: border-box;
    padding: 0.15em 0.7em;
    border-radius: 0.6em;
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input label {
    height: 100%;
    padding: 0;
}

.file-input .upload-btn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0.15em 0.65em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: inherit;
    border: solid var(--border);
    border-width: 0 2px 0 0;
    border-radius: 16px 0 0 16px;
    transition: background-color 0.2s ease, border 0.2s ease;
    cursor: pointer;
}



.btns-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns-container button, .btns-container input {
    width: 360px;
    padding-bottom: 0.15em;
    padding-top: 0.15em;
}
