:root {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(216, 0%, 100%);
    --primary: hsl(216, 50%, 70%);
    --primary-hover: hsl(216, 50%, 65%);
    --secondary: hsl(15, 72%, 52%);
    --text-color: hsl(0, 0%, 16%);
    --warning: hsl(0, 80%, 55%);
    --warning-hover: hsl(0, 80%, 45%);
    --border: hsl(0, 0%, 70%);
    --shadow-big: 0px 4px 12px 0px hsla(0, 0%, 0%, 0.2);
    --shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.2);
    /* --shadow-dark: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-light: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.2); */
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--bg-dark);
    border: 0 solid transparent;
}

main {
    position: relative;
    height: calc(100% - 80px);
    width: 100%;
}

.centered-div, .profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, .upload-btn {
    padding-left: 0.55em;
    padding-right: 0.55em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: inherit;
    background-color: var(--bg-light);
    border: 1px solid transparent;
    border-radius: 0.6em;
    box-shadow: var(--shadow);
    transition: background-color 0.2s ease, border 0.2s ease;
    cursor: pointer;
}

button:hover, .upload-btn:hover {
    background-color: var(--bg-dark);
}

button.accent {
    background-color: var(--primary);
}

button.danger {
    background-color: var(--warning);
}

button.accent:hover {
    background-color: var(--primary-hover);
}

button.danger:hover {
    background-color: var(--warning-hover);
}

input, select, textarea {
    box-sizing: border-box;
    padding: 0 0.55em;
    color: var(--text-color);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: var(--bg-light);
    border: 2px solid transparent;
    border-radius: 0.6em;
    box-shadow: var(--shadow);
    outline: none;
    appearance: none;
    transition: background-color 0.2s ease, border 0.2s ease;
    /* transition: transform 10s ease-out; */
}

input:hover, select:hover, textarea:hover {
    background-color: var(--bg-light);
    border: 2px solid var(--primary);
    /* transform: rotate(2880deg); */
}

input:focus {
    background-color: var(--bg-light);
    border: 2px solid var(--primary);
}

input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}

select:disabled {
    opacity: 1;
}

.select {
    position: relative;
    font-size: inherit;
}

.select > select {
    width: 100%;
}

.select::after {
    content: "";
    position: absolute;
    right: 0.55em;
    top: 50%;
    display: inline-block;
    height: 0.4em;
    aspect-ratio: 1/1;
    transform: translate(-50%, -75%) rotate(45deg);
    border: solid #7593c0;
    border-width: 0 4px 4px 0;
    border-radius: 2px;
    pointer-events: none;
}


.radio-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    cursor: pointer;
}

input[type="radio"] {
   display: none;
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--bg-light);
    border: 2px solid var(--primary);
    border-radius: 10px;

}

input[type="radio"]:checked + .custom-radio-btn:before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: var(--primary);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.centering-container {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    flex-grow: 1;
    padding: 40px 0;
}