:root {
    --bg-dark: hsl(216, 15%, 94%);
    --bg: hsl(0, 0%, 97%);
    --bg-light: hsl(0, 0%, 100%);
    --primary: hsl(216, 85%, 63%);
    --primary-hover: hsl(216, 85%, 58%);
    --secondary: hsl(15, 72%, 52%);
    --text-color: hsl(0, 0%, 15%);
    --text-muted: hsl(0, 0%, 40%);
    --text-light: hsl(0, 0%, 95%);
    --danger: hsl(0, 75%, 55%);
    --danger-hover: hsl(0, 75%, 45%);
    --success: hsl(125, 55%, 45%);
    --border: hsl(0, 0%, 70%);
    --shadow-big: 0px 4px 12px 0px hsla(0, 0%, 0%, 0.2);
    --shadow: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.1);
    --shadow-soft: 0px 2px 16px 0px hsla(0, 0%, 0%, 0.1);
    /* --shadow-dark: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-light: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.2); */
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--bg-dark);
    border: 0 solid transparent;
}

main {
    position: relative;
    height: calc(100% - 80px);
    width: 100%;
}

.centered-div, .profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, .upload-btn {
    padding: 0.15em 0.7em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: inherit;
    background-color: var(--bg-light);
    border: 1px solid transparent;
    border-radius: 16px;
    box-shadow: var(--shadow);
    transition: background-color 0.2s ease, border 0.2s ease;
    cursor: pointer;
}

button:hover, .upload-btn:hover {
    background-color: var(--bg);
}

button.accent {
    background-color: var(--primary);
    color: var(--text-light);
}

button.danger {
    background-color: var(--danger);
    color: var(--text-light);
}

button.accent:hover {
    background-color: var(--primary-hover);
}

button.danger:hover {
    background-color: var(--danger-hover);
}

input, select, textarea {
    box-sizing: border-box;
    padding: 0.15em 0.65em;
    color: var(--text-color);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: var(--bg-light);
    border: 2px solid transparent;
    border-radius: 16px;
    box-shadow: var(--shadow);
    outline: none;
    appearance: none;
    transition: background-color 0.2s ease, border 0.2s ease;
    /* transition: transform 10s ease-out; */
}

input[readonly], select[disabled], textarea[readonly] {
    background-color: var(--bg-dark);
    border: 2px solid var(--border);
    /* transition: transform 10s ease-out; */
}

input:hover, select:hover, textarea:hover {
    border: 2px solid var(--primary);
    /* transform: rotate(2880deg); */
}

input[readonly]:hover, select[disabled]:hover, textarea[readonly]:hover {
    border: 2px solid var(--border);
}

input:focus {
    border: 2px solid var(--primary);
}

input[readonly]:focus, select[disabled]:focus, textarea[readonly]:focus {
    border: 2px solid var(--border);
}

input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}

select:disabled {
    opacity: 1;
}

.select {
    position: relative;
    font-size: inherit;
}

.select > select {
    width: 100%;
}

.select::after {
    content: "";
    position: absolute;
    right: 0.55em;
    top: 50%;
    display: inline-block;
    height: 0.4em;
    aspect-ratio: 1/1;
    transform: translate(-50%, -75%) rotate(45deg);
    border: solid var(--primary);
    border-width: 0 4px 4px 0;
    border-radius: 2px;
    pointer-events: none;
}

.select[data-disabled]::after {
    border-color: var(--border);
}

.radio-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    cursor: pointer;
}

input[type="radio"] {
   display: none;
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--bg-light);
    border: 2px solid var(--primary);
    border-radius: 10px;

}

input[type="radio"]:checked + .custom-radio-btn:before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: var(--primary);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.centering-container {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    flex-grow: 1;
    padding: 40px 0;
}