.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    width: fit-content;
    max-width: 1300px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--text-color);
}

.title::after {
    content: '';
    width: calc(100% + 0px);
    height: 6px;
    background-color: var(--secondary);
    border-radius: 16px;
}