.class-header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 30px auto 0 auto;
    font-size: 32px;
}

.class-selection {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.class-selection > span {
    font-weight: 600;
}

.class-selection > .select {
    width: 100px;
    top: 2px;
}

#class-select {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 20px;
}

.no-students {
    max-width: 1400px;
    margin: 80px auto 0 auto;
    text-align: center;
    font-size: 28px;
    color: var(--text-muted);
}