.classes-header {
    max-width: 1400px;
    width: 100%;
    margin: 20px auto 0 auto;
    text-align: left;
    font-size: 34px;
    font-weight: 600;
}

.classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
    padding: 0 0px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
}

.class-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-light);
    border-radius: 16px;
    box-shadow: var(--shadow);
    transition: transform 0.3s;
}

.class-card:hover {
    cursor: pointer;
    transform: translateY(-6px);
}

.class-card a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.class-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: var(--primary);
    font-weight: 600;
    word-wrap: break-word;
}

.class-content div {
    margin: auto 0;
    text-align: center;
}

@media (max-width: 1440px) {
    .classes-header {
        margin: 20px 20px;
    }
}