.form-container {
    box-sizing: border-box;
    /* background-color: var(--color); */
    height: fit-content;
    width: 300px;
    padding: 20px 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    font-size: 30px;
}

.add-table {
    display: none;
}

.add-table-label {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.6em;
    color: var(--text-color);
}

.choice, .choose-btn {
    padding: 10px 16px;
    text-align: center;
}

.choice {
    background-color: #ebf3fa;
    border: solid var(--primary);
    border-width: 2px 2px 0 2px;
    border-radius: 0.6em 0.6em 0 0;
}

.choose-btn {
    background-color: var(--primary);
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

form .upload-btn {
    height: 50px;
    width: 100%;
}
