.name {
    word-break: break-all;
    color: var(--primary)
}

.class, .role, .user-balance {
    padding: 0 10px;
    width: fit-content;
    font-size: 16px;
    background-color: var(--bg-dark);
    border-radius: 0.6em;
    border: 1px solid var(--border);
}

.class {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}

.user-balance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.user-balance > img {
    aspect-ratio: 1 / 1;
    height: 1em;
}

#distribute-popup {
    visibility: hidden;
    position: absolute;
    top: 150px;
    margin-right: 9px;
    z-index: 1000;
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 8px;
    background-color: var(--bg);
    border-radius: 16px;
    box-shadow: var(--shadow-big);
}

#distribute-popup > div {
    font-weight: 600;
    align-self: center;
}

#distribute-popup.active {
    visibility: visible;
}


#distribute-popup > div > div {
    width: 100%;
}