.fields-container.user {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.fields-container.user > div {
    width: auto;
    font-size: 22px;
}

.classes-grid.user {
    margin: 0;
    padding: 0;
}