{% extends "common/base.html" %}


{% block links %}
  <link rel="stylesheet" href="/static/css/users/class.css">
  <link rel="stylesheet" href="/static/css/common/search/found-elements.css">
  <link rel="stylesheet" href="/static/css/users/users.css">
{% endblock %}

{% block content %}

  <div class="class-header-container">
    <div class="class-selection">

      <span>Класс:</span>
      <div class="select">
        <select id="class-select">
          <option style="display: none;" value="">...</option>
          {% for class in classes %}
          <option value="{{ class }}">{{ class }}</option>
          {% endfor %}
        </select>
      </div>
      
    </div>
  </div> 
  
  {% if students %}
    <div class="found-elements-grid">
      {% for student in students %}
        <div class="found-element-card">
          <a href="/classes/{{ student.userclass }}/{{ student.id }}">
            <div class="found-element-info">
              <div class="name">{{ student.usersurname }} {{ student.username[0] }}. {{ student.userotchestvo[0] }}.</div>
              <div class="secondary-info">
                <div class="user-balance">{{student.userbalance}} <img src="/static/images/coin.png"></div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="no-students">Пожалуйста, выберете класс.</div>
  {% endif %}


  <script>
    const select = document.getElementById("class-select");
    const options = document.querySelectorAll('#class-select > option');
    const currentClass = window.location.pathname.split('/')[2];


    document.addEventListener("DOMContentLoaded", function() {
      options.forEach(function(element) {
        if (element.value == currentClass) {
          select.value = currentClass;
          document.title = currentClass;
        }
        else {
          select.value = '';
          document.title = "Выберете класс";
        }
      });
    });


    select.addEventListener('change', function(e) {
      const selectedValue = event.target.value;

      if (selectedValue !== '') {
        window.location.href = `/classes/${selectedValue}`;
      } 
    });

  </script>

{% endblock %}