<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Класс {{ class_name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/class.css">
  </head>
  <body>
    {% include 'header.html' %}

    <div class="headers-container">
      <span>Класс: {{ class_name }}</span>
      <span>Учеников: {{ students_count }}</span>  
    </div> 
    
      {% if students %}
        <div class="students-grid">
          {% for student in students %}
            <div class="student-card">
              <a href="/student/{{ student.id }}/{{ tid }}">
                <div class="student-info">
                  <div class="student-name">{{ student.usersurname }} {{ student.username[0] }}. {{ student.userotchestvo[0] }}.</div>
                  <div class="student-balance">
                    <img class="student-balance-ico" src="/static/images/coin.png">
                    <div>{{student.userbalance}}</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="no-students">В этом классе пока нет учеников</p>
      {% endif %}

    </div>
  </body>
</html>