{% extends "common/base.html" %}

{% block title %}{{ usersurname }}{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/common/form.css">
  <link rel="stylesheet" href="/static/css/users/change-balance.css">
  <link rel="stylesheet" href="/static/css/common/block.css">
  <link rel="stylesheet" href="/static/css/users/user.css">
{% endblock %}

{% block content %}
  <main>

    <div class="block info">

      <div class="block-header">
        <span>Информация</span>
      </div>

      <div class="fields-container user">
        
        <div>
          <label for="name">Имя</label>
          <input id="name" value="{{ username }}" name="name" placeholder="Имя" readonly>
        </div>
        <div>
          <label for="surname">Фамилия</label>
          <input id="surname" value="{{ usersurname }}" name="surname" placeholder="Фамилия" readonly>
        </div>
        <div>
          <label for="otchestvo">Отчество</label>
          <input id="otchestvo" value="{{ userotchestvo }}" name="otchestvo" placeholder="Отчество" readonly>
        </div>

        <div>
          <label for="class">Класс</label>
          <input id="class" value="{{ userclass }}" name="class" placeholder="Класс" readonly>
        </div>

      </div>

      <!-- <div class="btns-container">
        <button class="accent" type="submit">Подтвердить</button>
      </div> -->

    </div>

    <div class="block">
      <div class="block-header">
        <span>Выдать монеты</span>
      </div>

      <form class="change-balance-container" method="post">
        <input name="coins_amount" type="number" min="0" max="{{ userbalance }}" placeholder="Число" required>
        <button class="accent" type="submit" value="Выдать">Выдать</button>
        <button class="accent" type="submit" value="Отнять">Отнять</button>
      </form>
    </div>

  </main>
{% endblock %}