{% extends "common/base.html" %}

{% block title %}{{ usersurname }}{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/common/form.css">
  <link rel="stylesheet" href="/static/css/change-balance.css">
{% endblock %}

{% block content %}
  <form class="form" method="POST" action="/student/{{ iduser }}/{{ teacherid }}">
    <title class="title">{{ usersurname }} {{ username[0] }}.</title>
    <div class="fields-container">
      <div>
        <label for="name">Имя</label>
        <input id="name" value="{{ username }}" placeholder="Имя" readonly>
      </div>

      <div>
        <label for="surname">Фамилия</label>
        <input id="surname" value="{{ usersurname }}" placeholder="Фамилия" readonly>
      </div>

      <div>
        <label for="otchestvo">Отчество</label>
        <input id="otchestvo" value="{{ userotchestvo }}" placeholder="Отчество" readonly>
      </div>

      <div>
        <label for="class">Класс</label>
        <input id="class" value="{{ userclass }}" placeholder="Класс" readonly>
      </div>


      <div>
        <label for="stud_balance">Начислить/Отнять</label>
        <div class="change-balance-container">
          <input id="stud_balance" type="text" name="stud_balance" oninput="this.value = this.value.replace(/[^0-9+]/g, '')" placeholder="Число" required>
          <button class="accent add-btn" type="submit" name="action" value="+"></button>
          <button class="accent deduct-btn" type="submit" name="action" value="-"></button>
        </div>

      </div>
    </div>
  </form>
{% endblock %}