.change-balance-container {
    display: flex;
    justify-content: center;
    width: 400px;
    gap: 4px;
}

.change-balance-container > input {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
}

.change-balance-container > button {
    position: relative;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    height: auto;
}

.change-balance-container > button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid var(--text-color);
    border-width: 3px 0 0 3px;
    left: 50%;
    pointer-events: none;
}

.add-btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 62.5%;
}

.deduct-btn::after {
    transform: translate(-50%, -50%) rotate(-135deg);
    top: 37.5%;
}