.class-header {
    max-width: 1400px;
    margin: 20px auto 0 auto;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}

.students-count {
    max-width: 1400px;
    margin: 20px auto 0 auto;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}

.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
    padding: 1rem 0px;
    max-width: 1400px;
    margin: 0 auto;
}