.class-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    border-radius: 16px;
    box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.class-card:hover {
    cursor: pointer;
    transform: translateY(-6px);
}

.class-card a {
    width: 100%;
    height: 100%;
}

.class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem 20px;
    max-width: 1400px;
    margin: 0 auto;
}