header {
    background-color: var(--color);
    height: 80px;
    max-width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.header-left {
    display: flex;
    flex-direction: row;
}

.logo-a {
    height: fit-content;
    width: fit-content;
    margin: auto 6px;
    display: flex;
}

.logo {
    height: 70px;
    width: auto; 
    border-radius: 16px;
}

.balance {
    height: fit-content;
    width: fit-content;
    margin: auto 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.balance-ico {
    height: 70px;
    width: auto;
}

.balance div {
    margin-left: 12px;
    color: var(--text-color);
    font-size: 52px;
}

.menu {
    margin-right: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu-btn {
    width: 70px;
    height: 70px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 16px;
    background-color: var(--accent-color);
}

.menu-btn:hover {
    background-color: #ca4828;
}

.menu-btn img {
    height: 58px;
    width: auto;
}


@media (max-width: 1440px) {
    header {
        margin: 0 20px 0 20px;
    }
}