.profile-div {
    flex-direction: column;
}

.userdata {
    padding: 32px;
    flex-direction: column;
    background-color: var(--color);
    border-radius: 16px;
}

.userdata div {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.userdata div a {
    height: 64px;
    width: 220px;
    margin: 12px 8px;
    padding: 0 12px;
    color: var(--text-color);
    font-size: 48px;
    font-weight: 700;
    background-color: var(--color);
    border-radius: 16px;
}

.userdata div a + input {
    height: 64px;
    width: 300px;
    margin: 12px 8px;
    padding: 0 12px;
    color: var(--text-color);
    font-size: 48px;
    font-family: inherit;
    font-weight: inherit;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 16px;
}

.edit-button, .save-button, .cancel-button {
    height: 80px;
    margin-top: 12px;
    color: var(--text-color);
    font-family: inherit;
    font-size: 48px;
    font-weight: 700;
    background-color: var(--color);
    border: 0;
    border-radius: 16px;
}

.edit-profile-buttons {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.save-button {
    width: 50%;
    margin: 0;
    margin-right: 8px;
    background-color: #43a72a;
}

.save-button:hover {
    background-color: #348320;
}

.cancel-button {
    width: 50%;
    margin: 0;
    margin-left: 8px;
    background-color: #fd2929;
}

.cancel-button:hover {
    background-color: #be2020;
}