.search-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
    max-width: 1400px;
}

.search {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 40%;
    max-width: 300px;
}

.search-bar {
    flex-grow: 1;
    box-sizing: border-box;
    height: 48px;
    align-items: center;
    padding: 0 16px;
    color: var(--text-color);
    font-size: 34px;
    border: 3px solid var(--color);
    border-radius: 16px;
}

.search-btn {
    width: 48px;
    aspect-ratio: 1/1;
    border: 0;
    border-radius: 16px;
    background-color: var(--color);
    
}

.filters {
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 10px;
}

.filters-header {
    font-size: 30px;
}

.radio-button-label {
    font-size: 20px;
}
