html, body {
    margin: 0;
    height: 100%;
    width: 100%
}

.centered-div, .reg-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    display: flex;
}

header {
    background-color: #84b3d9;
    height: 80px;
    margin: 0 20px 0 20px;
    align-items: center;
    border-radius: 0 0 16px 16px;
}

.header-div {
    height: 100%;
    width: 100%;
    display: flex;
}

.logo-div {
    height: 100%;
    width: fit-content;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.logo {
    height: 70px;
    width: auto; 
}

.menu-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-div button img {
    height: 85%;
    width: 85%;
    
}

.menu-div button {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0 10px 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 16px;
    background-color: white;
}

.reg-div {
    flex-direction: column;
}

.sign-button {
    height: 160px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    font-size: 64px;
    background-color: #a1c7e6;
    border: 0;
    border-radius: 30px;
}

.sign-button:hover {
    background-color: #84b3d9;
}

.sign-button:active {
    background-color: #709abd;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inputs input{
    height: 48px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    background-color: #84b3d9;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-radius: 16px;
}

.submit-button {
    margin-top: 24px;
    height: 64px;
    width: auto;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    background-color: #a1c7e6;
    border: 0;
    border-radius: 16px;
}

.submit-button:hover {
    background-color: #84b3d9;
}
.submit-button:active {
    background-color: #709abd;
}