* {
  --color: #8babda;
  --accent-color: #dd582c;
  --sign-hover-color: #779cd4;
  --text-color: #292929;
  /* --sign-click-color: #648ece; */
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.centered-div, .sign-div, .profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    display: flex;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}
