.user-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    width: fit-content;
    margin: 80px auto;
    padding: 30px;
    font-size: 32px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info input, .user-info select {
    width: 400px;
}

.user-info input[readonly] {
    caret-color: transparent;
    cursor: text;
}

.btns-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, input[type="submit"] {
    width: 400px;
    height: 1.625em;
    border: 0;
    border-radius: 0.6em;
    font-weight: 700;
    background-color: var(--color);
}