{% extends "common/base.html" %}

{% block title %}Поиск{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/common/search/found-elements.css">
  <link rel="stylesheet" href="/static/css/common/search/search.css">
  <link rel="stylesheet" href="/static/css/users/users.css">
{% endblock %}

{% block content %}
  
  <div class="search-container" >
    <div class="left">
      <input id="search-bar" class="search-bar" type="text" name="bysort" placeholder="Поиск пользователя" value="{{ search_text }}">
      <button id="search-button" class="accent search-btn" type="button">Найти</button>
    </div>

    <div class="right">
      <div class="filters">
        <div class="filters-header">Искать по:</div>
        <label class="radio-button-label" for="surname">
          <input type="radio" value="Фамилия" id="surname" name="sort" checked/>
          <span class="custom-radio-btn"></span>
          Фамилии
        </label>

        <label class="radio-button-label" for="class">
          <input type="radio" value="Класс" id="class" name="sort" />
          <span class="custom-radio-btn"></span>
          Классу
        </label>

        <label class="radio-button-label" for="role">
          <input type="radio" value="Роль" id="role" name="sort" />
          <span class="custom-radio-btn"></span>
          Роли
        </label>
      </div>
        <!-- <button class="filter-btn">Фильтр</button> -->
      <button class="accent" type="button" onclick="document.location='/users/add'"></button>
      {# {% if adedusers == '0' %} #}
      


    </div>
  </div>
  
  <div class="found-elements-grid">
    {% for user in users %}
      <div class="found-element-card">
        <a href="/users/{{ user.id }}">
          <div class="found-element-info">
            <div class="name">{{ user.username }} {{ user.usersurname[0] }}. {{user.userotchestvo[0]}}.</div>
            <div class="secondary-info">
              <div class="class">{{ user.userclass }}</div>
              <div class="role">{{user.role}}</div>
              <div class="user-balance">{{user.userbalance}} <img src="/static/images/coin.png"></div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <script>

    const search_bar = document.getElementById('search-bar');
    const search_button = document.getElementById('search-button');
    const radioBtns = document.querySelectorAll('input[name="sort"]');

    search_bar.addEventListener('keydown', function(e) {
      if (e.key == 'Enter') {
        search();
      }
    });

    search_button.addEventListener('click', function(e) {
      search();
    });

    function search() {

      const search_text = search_bar.value;
      let filter;

      for (const radio of radioBtns) {
        if (radio.checked) {
          filter = radio.value;
          break;
        }
      }

      const params = new URLSearchParams(`q=${search_text}&filter=${filter}`)
      window.location.search = params.toString();
    }
    
  </script>
{% endblock %}
