{% extends "base.html" %}

{% block title %}Поиск предметов{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/users-list.css">
  <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}
  <button onclick="document.location='/additem'">Добавить предмет</button>

  <form class="search-container" enctype="multipart/form-data" method="post">
    <div class="search">
      <input class="search-bar" type="text" name="bysort" placeholder="Поиск предмета" value="{{ search_text }}">
      <input class="search-btn" type="submit" value="Найти">
    </div>
    <div class="filters">
      <div class="filters-header">Искать по:</div>
      <label class="radio-button-label" for="name">
        <input type="radio" value="Название" id="name" name="sort" checked/>
        <span class="custom-radio-btn"></span>
        Названию
      </label>

      <label class="radio-button-label" for="description">
        <input type="radio" value="Описание" id="description" name="sort" />
        <span class="custom-radio-btn"></span>
        Описанию
      </label>

      <label class="radio-button-label" for="price">
        <input type="radio" value="Цена" id="price" name="sort" />
        <span class="custom-radio-btn"></span>
        Цене
      </label>
    </div>
  </form>

  <div class="users-flex">
    {% for item in all_items %}
      <div class="user-card">
        <a href="/edititem/{{ item['id'] }}">
          <div class="user-info">
            {{ item['name'] }} — {{ item['price'] }}₽
          </div>
        </a>
        <form action="/delitem/{{ item['id'] }}" method="post" style="margin-top:10px;">
          <input type="submit" value="Удалить" class="search-btn">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
