{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/users-list.css">
  <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}
  {# <button onclick="document.location='/adduser'">Добавить пользователя</button>
  <form class="distribute" enctype="multipart/form-data" method="post">
    <input type="number" name="razdbalance">
    <input type="submit" value="Раздать">
  </form> #}
  {% if adedusers == '0' %}
    <button onclick="document.location='/addingusers'">Создать пользователей</button>
  {% endif %}
 
  <form class="search-container" enctype="multipart/form-data" method="post">
    <div class="search">
      <input class="search-bar" type="text" name="bysort" placeholder="Поиск пользователя" value="{{ search_text }}">
      <input class="search-btn" type="submit" value="Искать">
    </div>
    <div class="filters">
      <div class="filters-header">Искать по:</div>
      <div class="radio-btn">
        <input type="radio" value="Фамилия" id="surname" name="sort" checked/>
        <label for="surname">Фамилии</label>
      </div>

      <div class="radio-btn">
        <input type="radio" value="Класс" id="class" name="sort" />
        <label for="class">Классу</label>
      </div>

      <div class="radio-btn">
        <input type="radio" value="Роль" id="role" name="sort" />
        <label for="role">Роли</label>
      </div>
      {# <button onclick="document.location='/'">Отменить все фильтры</button> #}
    </div>
  </form>
  
  <div class="users-flex">
    {% for i in range(colvousers) %}
      <div class="user-card">
        <a href="/userprofile/{{ all_users[i]['id'] }}">
          <div class="user-info">{{all_users[i]['usersurname']}} {{all_users[i]['username'][0]}}. {{all_users[i]['userotchestvo'][0]}}.</div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
