.purchase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.purchase-top-info {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: var(--text-muted);
}

#no-purchases {
    max-width: 1400px;
    margin: 80px auto;
    font-size: 24px;
}

.status.can-be-received {
    color: var(--success);
}

.status.accepted {
    color: var(--primary);
}