.purchase {
    max-width: 800px;
}

.purchase-info {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: min-content 48px;
    gap: 16px;
}

.purchase-info .purchase-item-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.purchase-item-info .item-image {
    width: 100%;
}

.purchase-info .item-header {
    display: flex;
    gap: 8px;
    font-size: 24px;
    background-color: var(--bg-light);
    border-radius: 16px;
    box-shadow: var(--shadow);
    padding: 8px;
}

.item-header span {
    padding: 0px 8px;
}

.purchase-info .item-name {
    flex: 1 1;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase-info .purchase-count {
    white-space: nowrap;
    width: min-content;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: var(--bg);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.fields-container.purchase-secondary-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 22px;
}

button.can-be-recieved {
    font-size: 22px;
}


@media (max-width: 1440px) {
    .purchase {
        margin: 0 auto;
        width: auto;
    }
}