.item-image {
    box-sizing: border-box;
    border-radius: 12px;
}

.name {
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    padding: 0 8px;
    font-size: 28px;
    font-weight: 600;
    background-color: var(--bg);
    border-radius: 0.6em;
    box-shadow: var(--shadow);
}

.price > img {
    aspect-ratio: 1 / 1;
    height: 1.1em;
}