{% extends "common/base.html" %}
 
{% block title %}Профиль{% endblock %}

{% block links %}
  <link rel="stylesheet" href="static/css/profile.css">
{% endblock %}

{% block content %}
  <div class="profile">
    <div class="userdata-list">
      <div class="userdata">
        <label>Имя:</label>
        <input type="text" value="{{username}}" readonly>
      </div>
      <div class="userdata">
        <label>Фамилия:</label>
        <input type="text" value="{{usersurname}}" readonly>
      </div>
      <div class="userdata">
        <label>Класс:</label>
        <input text="text" value="{{userclass}}" readonly>
      </div>
    </div>
    <button class="edit-button" onclick="document.location='/profile_edit'">Редактировать</button>
  </div>
{% endblock  %}