<header>
  <div class="header-container">
    <div class="header-left">
      <a class="logo-a" href="/"><img class="logo" src="/static/images/logo.jpg"></a>

      {% if current_user_role == 'Student' or current_user_role == 'Teacher' %}
      <div class="balance">
        {# <img class="balance-ico" src="/static/images/coin.png"> #}
        <span>Баланс: {{userbalance}}<img class="balance-ico" src="/static/images/coin.png"></span>
      </div>
      {% endif %}
    </div>

    <nav class="menu">

      {% if current_user_role == 'Student' %}
        <button data-target="/">Магазин</button>
        <button data-target="/purchases">Покупки</button>
        <button class="profile-btn" data-target="/profile">Профиль</button>
      {% elif current_user_role == 'Admin'%}
        <button data-target="/users">Пользователи</button>
        <button data-target="/items">Предметы</button>
        <button data-target="/items_users">Купленное</button>
        <button class="profile-btn" data-target="/profile">Профиль</button>
      {% elif current_user_role == 'Teacher'%}
        <button data-target="/classes">Классы</button>
        <button class="profile-btn" data-target="/profile">Профиль</button>
      {% else %}
        <button data-target="/login">Войти</button>
        <button data-target="/register">Зарегистрироваться</button>
      {% endif %}
    </nav>
    
  </div>
  {% include 'common/header/profile_popup.html' %}
</header>
<script>
  
  document.addEventListener("DOMContentLoaded", function() {
  const navButtons = document.querySelectorAll(".menu button");

    navButtons.forEach(button => {
      if (button.classList.contains('profile-btn')) {
        button.addEventListener('click', function() {
          popupToggle();
        });
      }
      else {
        button.addEventListener('click', function() {
            window.location.href = this.dataset.target;
        });
      }
    });

    navButtons.forEach(button => {
      const currentPath = window.location.pathname;

      if (button.dataset.target == '/classes' && currentPath.includes(button.dataset.target)) {
        button.classList.add('active');
      }
      else if (button.dataset.target == currentPath) {
        button.classList.add('active');
      }
    });

  });

</script>