<link rel="stylesheet" href="/static/css/common/header.css">
<header>
  <div class="header-container">
    <div class="header-left">
      <a class="logo-a" href="/"><img class="logo" src="/static/images/logo.jpg"></a>

      <div class="balance">
        <img class="balance-ico" src="/static/images/coin.png">
          <div>{{userbalance}}</div>
      </div>
    </div>

    <nav class="menu">
      {% if role == 'Student' %}
        <button class="menu-btn" onclick="document.location='/'"><img src="/static/images/shop_icon.png"></button>
        <button class="menu-btn" onclick="document.location='/history'"><img src="/static/images/history_icon.png"></button>
      {% elif role == 'Admin'%}
        <a href="/" class="userbutton">Пользователи</a>
        <a href="/items_search" class="itembutton">Предметы</a>
      {% endif %}
      <button class="menu-btn" onclick="popupToggle()"><img src="/static/images/profile_icon.png"></button>
    </nav>
  </div>
  {% include 'common/header/profile_popup.html' %}
</header>