header {
    height: 70px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    background-color: var(--primary);
    color: var(--text-light);
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.logo-a {
    height: fit-content;
    width: fit-content;
    margin: auto 6px;
    display: flex;
}

.logo {
    height: 58px;
    width: auto; 
    border-radius: 16px;
    background-color: white;
}

.balance {
    height: fit-content;
    width: fit-content;
    margin: auto 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.balance-ico {
    height: 70px;
    width: auto;
}

.balance div {
    margin-left: 12px;
    color: var(--text-color);
    font-size: 52px;
}

.menu {
    margin-right: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 22px;
}

.menu button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 20px;
    padding: 8px 16px;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

/* .menu button::after {
    content: '';
    width: 0px;
    height: 4px;
    background-color: var(--secondary);
    transition: width 0.3s ease-out;
}

.menu button:hover::after {
    content: '';
    width: calc(100% + 0px);
    border-radius: 100px;
} */

.menu button:hover {
    /* color: var(--secondary); */
    background-color: hsla(0, 0%, 10%, 0.15);
}

.menu button.active {
    background-color: hsl(216, 85%, 68%);
    box-shadow: var(--shadow);
}

/* .menu button.active::after {
    content: '';
    width: calc(100% + 0px);
    border-radius: 100px;
    transition: none;
    
} */

@media (max-width: 1440px) {
    header {
        width: auto;
        margin: 0 20px 0 20px;
    }
}