header {
    height: 70px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    background-color: var(--primary);
    color: var(--text-light);
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0 8px 8px;
}

.logo-a {
    height: 100%;
    width: fit-content;
    display: flex;
}

.logo-text {
    font-size: 32px;
}

.logo {
    height: 100%;
    width: auto; 
    border-radius: 16px;
    background-color: white;
}

.balance {
    box-sizing: border-box;
    height: 100%;
    width: fit-content;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 22px;
    background-color: hsl(216, 85%, 68%);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.balance-ico {
    height: 1.2em;
    width: auto;
}

.balance span {
    display: flex;
    align-items: center;
}

.menu {
    margin-right: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 22px;
}

.menu button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 20px;
    padding: 8px 16px;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

.menu button:hover {
    background-color: hsla(0, 0%, 10%, 0.15);
}

.menu button.active {
    background-color: hsl(216, 85%, 68%);
    box-shadow: var(--shadow);
}


@media (max-width: 1440px) {
    header {
        width: auto;
        margin: 0 20px 0 20px;
    }
}