#profile-popup {
    visibility: hidden;
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 4px 24px;
    margin: 4px 0;
    transform: translateX(-100%);
    left: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: var(--shadow-big);
}

#profile-popup.active {
    visibility: visible;
}

#profile-popup a {
    margin: 4px auto;
    text-align: left;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

#profile-popup a:hover {
    color: var(--primary);
}
