#profile-popup {
    visibility: hidden;
    position: relative;
    height: 120px;
    width: 200px;
    margin: 14px auto;
    left: 600px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    background-color: var(--primary);
    border-radius: 16px;
    box-shadow: var(--shadow-big);
}

#profile-popup.active {
    visibility: visible;
}

#profile-popup a {
    margin: 4px auto;
    text-align: left;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

#profile-popup a:hover {
    color: var(--secondary);
}

@media (max-width: 1440px) {
    #profile-popup {
        margin-right: 0px;
        left: 0;
    
    }
}
