<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {% include 'header.html' %}
    <form method="POST" enctype="multipart/form-data">
        <input placeholder="Имя пользователя" name="name">
        <input placeholder="Фамилия пользователя" name="surname">
        <input placeholder="Отчество пользователя" name="otchestvo">
        <input placeholder="Класс пользователя" name="class">
        <select name="role">
            <option>Student</option>
            <option>Teacher</option>
            <option>Admin</option>
        </select>
        <input placeholder="Введите пароль" name="password">
        <input placeholder="Повтарите пароль" name="secondpassword">
        <input placeholder="Баланс пользователя" type="number" name="balance">
        <input type="submit">
    </form>
    <button onclick="document.location='/'">Галя, у нас отмена</button>
</body>
</html>