{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock  %}

{% block content %}
  <form class="user-container" method="POST" enctype="multipart/form-data">
    <div class="user-info">
      <input value="{{ user['usersurname'] }}" name="name" placeholder="Имя">
      <input value="{{ user['username'] }}" name="surname" placeholder="Фамилия">
      <input value="{{ user['userotchestvo'] }}" name="otchestvo" placeholder="Отчество">
      <select name="role">
      {% if user['role'] == 'Student' %}
        <option selected>Student</option>
        <option>Teacher</option>
        <option>Admin</option>
      {% elif user['role'] == 'Teacher' %}
        <option>Student</option>
        <option selected>Teacher</option>
        <option>Admin</option>
      {% else %}
        <option>Student</option>
        <option>Teacher</option>
        <option selected>Admin</option>
      {% endif %}
      </select>
      <input value="{{ user['userclass'] }}" name="class" placeholder="Класс">
      <input type="number" value="{{ user['userbalance'] }}" name="balance" placeholder="Баланс">
      <input type="password" name="password" placeholder="Новый пароль">
    </div>
    <div class="btns-container">
      <input type="submit" value="Подтвердить">
      <button onclick="document.location='/deluser/{{ user['id'] }}'">Удалить пользователя</button><br>
    </div>
  </form>
{% endblock %}
