<header>
    <div class="header-div">
      <div class="logo-div">
        <a href="/"><img class="logo" src="static/images/logo.jpg"></a>
      </div>
      <div class="balance">
        <img src="static/images/coin.png">
        <a>{{userbalance}}</a>
      </div>
      <div class="menu-div">
        <button onclick="document.location='/'"><img src="static/images/shop_icon.png"></button>
        <button><img src="static/images/history_icon.png"></button>
        <button onclick="popupToggle()"><img src="static/images/profile_icon.png"></button>
    </div>
  </div>
</header>
