<!DOCTYPE html>
<html class="main" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>История покупок</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="main">
    <header>
      <div class="header-div">
        <div class="logo-div">
          <img class="logo" src="https://ir.ozone.ru/s3/cms/81/t48/wc200/logo_ozon_1.png">
        </div>
        <div class="menu-div">
          <button>Магазин</button>
          <button>История</button>
          <button onclick="document.location='/profile'">Профиль</button>
        </div>
      </div>
    </header>
    <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

  </body>
</html>