{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/shop.css">
  <link rel="stylesheet" href="/static/css/classes.css">
  <link rel="stylesheet" href="/static/css/users-list.css">
  <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block content %}

  {% if role == 'Admin' %}
    {% include "admin/main.html" %}
  {% elif role == 'Student' %}
    {% include "shop/shop.html" %}
  {% elif role == 'Teacher' %}
    {% include "classes/classes-list.html" %}
  {% endif %}

{% endblock  %}

