<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Профиль</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/profile.css">
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'profile-popup.html' %}
    <div class="profile-div">
      <form>
          <div class="userdata" action="/profile_edit">
              <div>
              <a>Имя:</a>
              <input name="username" type="text" value="{{username}}">
              </div>
              <div>
              <a>Фамилия:</a>
              <input name="username" type="text" value="{{usersurname}}"></input>
              </div>
              <div>
              <a>Класс:</a>
              <input name="userclass" type="text" value="{{userclass}}">
              </div>
          </div>
          <div class="edit-profile-buttons">
            <input class="save-button" type="submit" value="Сохранить">
            <button class="cancel-button">Отмена</button>
          </div>
      </form>
    </div>
      <!-- <a>{{phonenumber}}</a> -->
  </body>
</html>