<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Профиль</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/profile.css">
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'profile-popup.html' %}
    <div class="profile-div">
      <div class="userdata">
        <div>
          <a>Имя:</a>
          <a>{{username}}</a>
        </div>
        <div>
          <a>Фамилия:</a>
          <a>{{usersurname}}</a>
        </div>
        <div>
          <a>Класс:</a>
          <a>{{userclass}}</a>
        </div>
      </div>
      <button class="edit-button" onclick="document.location='/profile_edit'">Редактировать</button>
    </div>
      <!-- <a>{{phonenumber}}</a> -->
  </body>
</html>