<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Профиль</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
      function popupToggle() {
        const  popup = document.getElementById('profile-popup');
        popup.classList.toggle('active')
      }
    </script>
  </head>
  <body>
    {% include 'header.html' %}
    <div id="profile-popup">
        <a href="/profile">Профиль</a>
        <a href="/logout">Выход</a>
    </div>
    <div class="profile-div">
      <a>{{username}}</a>
      <a>{{usersurname}}</a>
      <a>{{userclass}}</a>
      <a>{{phonenumber}}</a>
      <a>{{role}}</a>
      <a>{{userbalance}}</a>
    </div>
  </body>
</html>