<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="reg-div">
      <div class="inputs">
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="Фамилия">
        <input type="text" placeholder="Класс">
        <input type="password" placeholder="Пароль">
        <input type="password" placeholder="Повторите пароль">
      </div>

      <button class="reg-button">Зарегистрироваться</button>

    </div>
  </body>
</html>