<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="reg-div" >
      <form class="inputs" method="POST" action="/register">
        <input type="text" name="username" placeholder="Имя">
        <input type="text" name="usersurname" placeholder="Фамилия">
        <input type="text" name="userclass" placeholder="Класс">
        <input type="password" name="password" placeholder="Пароль">
        <input type="password" name="confirm_password" placeholder="Повторите пароль">
        <input type="submit" class="reg-button" value="Зарегистрироваться">
      </form>
    </div>
  </body>
</html>
