<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="reg-div">
      <div class="inputs">
        <input type="text" id="username" placeholder="Имя">
        <input type="text" id="usersurname" placeholder="Фамилия">
        <input type="text" id="userclass" placeholder="Класс">
        <input type="password" id="password" placeholder="Пароль">
        <input type="password" id="confirm_password" placeholder="Повторите пароль">
      </div>

      <button onclick="document.location='main'" class="reg-button">Зарегистрироваться</button>

    </div>
  </body>
</html>
