{% extends "base.html" %}

{% block title %}{{ usersurname }}{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/sign.css">
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
  <form class="user-container" method="POST" action="/student/{{ iduser }}/{{ teacherid }}">
    <div class="user-info">
      <label for="name" class="input-label">
        <span>Имя</span>
        <input id="name" value="{{ username }}" placeholder="Имя" readonly>
      </label>

      <label for="surname" class="input-label">
        <span>Фамилия</span>
        <input id="surname" value="{{ usersurname }}" placeholder="Фамилия" readonly>
      </label>

      <label for="otchestvo" class="input-label">
        <span>Отчество</span>
        <input id="surname" value="{{ userotchestvo }}" placeholder="Отчество" readonly>
      </label>

      <label for="class" class="input-label">
        <span>Класс</span>
        <input id="class" value="{{ userclass }}" placeholder="Класс" readonly>
      </label>


      <label for="stud_balance" class="input-label">
        <span>Начислить/Отнять</span>
        <div class="change-balance-container">
          <input id="stud_balance" type="text" name="stud_balance" min="0" oninput="this.value = this.value.replace(/[^0-9+]/g, '')" required>
          
          <div class="add-btn-container">
            <button type="submit" name="action" value="+"></button>
          </div>

          <div class="deduct-btn-container">
            <button type="submit" name="action" value="-"></button>
          </div>

        </div>
      </label>
      
  </form>
{% endblock %}