{% extends "base.html" %}

{% block title %}Пользователь{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
  <div class="user-container">
    <div class="user-info">
      <input value="{{ user['usersurname'] }}" readonly>
      <input value="{{ user['username'] }}" readonly>
      <input value="{{ user['userotchestvo'] }}" readonly>
      <input value="{{ user['role'] }}" readonly>
      <input value="{{ user['userclass'] }}" readonly>
      <input value="{{ user['userbalance'] }}" readonly>
    </div>
    <button class="edit-btn" onclick="document.location='/edituser/{{ user['id'] }}'">Редактировать</button>
  </div>
  {% if user['role'] == 'Teacher' %}
      <button onclick="document.location='/enterteach/{{ user['id'] }}'">Войти в пользователя</button>
  {% endif %}
{% endblock %}