{% extends "base.html" %}

{% block title %}Пользователь{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
  <div class="user-container">
    <div class="user-info">
      <input value="{{ user['usersurname'] }}" readonly>
      <input value="{{ user['username'] }}" readonly>
      <input value="{{ user['userotchestvo'] }}" readonly>
      <select name="role" disabled>
      {% if user['role'] == 'Student' %}
        <option selected>Student</option>
        <option>Teacher</option>
        <option>Admin</option>
      {% elif user['role'] == 'Teacher' %}
        <option>Student</option>
        <option selected>Teacher</option>
        <option>Admin</option>
      {% else %}
        <option>Student</option>
        <option>Teacher</option>
        <option selected>Admin</option>
      {% endif %}
      <input value="{{ user['userclass'] }}" readonly>
      <input value="{{ user['userbalance'] }}" readonly>
    </div>
    <div class="btns-container">
      <button onclick="document.location='/edituser/{{ user['id'] }}'">Редактировать</button>
      <button onclick="document.location='/deluser/{{ user['id'] }}'">Удалить пользователя</button>
    </div>
  </div>
  {% if user['role'] == 'Teacher' %}
      <button onclick="document.location='/enterteach/{{ user['id'] }}'">Войти в пользователя</button>
  {% endif %}
{% endblock %}