<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Зарегистрироваться</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="static/css/sign.css">
  </head>
  <body>
    <div class="sign-div" >
      <form class="inputs" method="POST" action="/register">
        <input type="text" name="username" placeholder="Имя">
        <input type="text" name="usersurname" placeholder="Фамилия">
        <input type="text" name="userotchestvo" placeholder="Отчество">
        <input type="text" name="userclass" placeholder="Класс">
        <input type="password" name="password" placeholder="Пароль">
        <input type="password" name="confirm_password" placeholder="Повторите пароль">
        <input type="submit" class="submit-button" value="Зарегистрироваться">
      </form>
    </div>
  </body>
</html>
