{% extends "common/base.html" %}

{% block title %}Добавить предмет{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/common/form.css">
{% endblock %}

{% block content %}
  <div class="centering-container">
    <form class="form" method="POST">
      <div class="title">Добавить</div>

      <div class="fields-container">

        <div>
          <label for="name">Название</label>
          <input id="name" name="name" placeholder="Название" required>
        </div>

        <div>
          <label for="description">Описание</label>
          <input id="description" name="description" placeholder="Описание" required>
        </div>

        <div>
          <label for="count">Количество</label>
          <input id="count" name="count" placeholder="Количество" oninput="this.value = this.value.replace(/[^0-9+]/g, '')" required>
        </div>
        
        <div>
          <label for="price">Цена</label>
          <input id="price" name="price" placeholder="Цена" oninput="this.value = this.value.replace(/[^0-9+]/g, '')" required>
        </div>

        <div>
          <label for="photo">Фото</label>
          <div class="file-input">
            <input id="photo" type="file" name="photo" accept=".png, .jpeg, .jpg" required>
            <label for="photo"><div class="upload-btn" disabled>Выбрать</div></label>
            <div id="selected-file" class="selected-file">Пусто</div>

            <script>
              const input = document.getElementById('photo');
              const selectedFileContainer = document.getElementById('selected-file');
        
              input.addEventListener('change', function (e) {
                console.log('play event')
                const selectedFile = event.target.files[0];
                if (selectedFile) {
                  selectedFileContainer.textContent = selectedFile.name;
                }
              });
            </script>

          </div>
        </div>
      </div>

      <div class="btns-container">
        <button class="accent" type="submit">Добавить</button>
      </div>

    </form>
  </div>
{% endblock %}
