{% extends "common/base.html" %}


{% block title %}{{name}}{% endblock %}


{% block links %}
  <link rel="stylesheet" href="/static/css/common/form.css">
  <link rel="stylesheet" href="/static/css/common/block.css">
{% endblock links %}


{% block content %}

  <main>

    <form class="block" method="post" enctype="multipart/form-data">
    
      <div class="block-header">
        <span>Изменить предмет</span>
        <div class="buttons">
          <button class="accent" type="submit">Подтвердить</button>
        </div>
      </div>

      <div class="fields-container">
        
        <div>
          <label for="name">Название</label>
          <input id="name" name="name" placeholder="Название" value="{{ name }}" required>
        </div>

        <div>
          <label for="count">Количество</label>
          <input id="count" name="count" type="number" min="1" placeholder="Количество" value="{{ count }}" required>
        </div>

        <div>
          <label for="price">Цена</label>
          <input id="price" name="price" type="number" min="1" placeholder="Цена" value="{{ price }}" required>
        </div>
        
        <div>
          <label for="photo">Новое фото</label>
          <div class="file-input">
            <input id="photo" type="file" name="photo" accept=".png, .jpeg, .jpg">
            <label for="photo"><div class="upload-btn" disabled>Выбрать</div></label>
            <div id="selected-file" class="selected-file">Пусто</div>
            
            <script>
              const input = document.getElementById('photo');
              const selectedFileContainer = document.getElementById('selected-file');
        
              input.addEventListener('change', function (e) {
                console.log('play event')
                const selectedFile = event.target.files[0];
                if (selectedFile) {
                  selectedFileContainer.textContent = selectedFile.name;
                }
              });
            </script>
             
          </div>
          
        </div>

        <div class="description-container">
          <label for="description">Описание</label>
          <textarea id="description" name="description" rows="4" maxlength="300" required>{{ description }}</textarea>
        </div>

      </div>
      
    </form>
  </main>
{% endblock %}
