{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock  %}

{% block content %}
  <form class="user-container" method="POST" enctype="multipart/form-data">
    <div class="user-info">

      <label for="name" class="input-label">
        <span>Название</span>
        <input id="name" value="{{ item['name'] }}" name="name" placeholder="Название">
      </label>

      <label for="description" class="input-label">
        <span>Описание</span>
        <input id="description" value="{{ item['description'] }}" name="description" placeholder="Описание">
      </label>

      <label for="price" class="input-label">
        <span>Цена</span>
        <input id="price" value="{{ item['price'] }}" name="price" placeholder="Цена">
      </label>

      <label for="count" class="input-label">
        <span>Количество</span>
        <input id="count" value="{{ item['count'] }}" name="count" placeholder="Количество">
      </label>

      <label for="photo" class="input-label">
        <span>Ссылка на фото</span>
        <input id="photo" value="{{ item['photo'] }}" name="photo" placeholder="Ссылка на фото">
      </label>

    </div>
    <div class="btns-container">
      <input type="submit" value="Подтвердить">
    </div>
  </form>
{% endblock %}
