<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товар: {{ item.name }}</title>
    <link rel="stylesheet" href="/static/css/common/style.css">
</head>
<body>
      {% include 'header.html' %}
      <p>{{ item.id }} {{ item.name }} {{ item.description }} {{ item.price }} {{ item.count }} {{ item.photo }}</p>
    <form class="inputs" method="POST">
      <input type="number" name="item_count" placeholder="Колличество товара" min="1" required>
      <input type="submit" value="Заказать" class="submit-button">
      <button type="button" class="back-button" onclick="document.location='/'">Назад</button>
    </form>
</body>
</html>