{% extends "common/base.html" %}


{% block title %}{{ item.name }}{% endblock title %}o


{% block links %}
  <link rel="stylesheet" href="/static/css/items/item.css">
{% endblock links %}


{% block content %}

  <div class="item-grid">
    <img class="item-image" src="{{ item.photo }}">

    <div class="item-info-container">
      <div class="item-name">{{ item.name }}</div>
      <div class="item-discription">{{ item.description }}</div>
    
    </div>

    <div class="item-price-container">
      <div class="item-price">{{ item.price }} <img src="/static/images/coin.png"></div>
      <form method="POST"><input style="display: none" name="item_count" value="1"> <button class="accent buy-button" type="submit">Купить</button></form>
    </div>

  </div>

{% endblock content %}
