{% extends "common/base.html" %}


{% block title %}{{ item.name }}{% endblock title %}o


{% block links %}
  <link rel="stylesheet" href="/static/css/items/item.css">
{% endblock links %}


{% block content %}

  <div class="item-grid">
    <img class="item-image" src="/static/images/items_images/{{ item.photo }}">

    <div class="item-info-container">
      
      <div class="item-top-info">
        <span class="item-name">{{ item.name }}</span>
        <div class="purchase-amount"><input type="number" min="1" max="{{ item.count }}" name="item_count" value="1" form="purchase-form"><span>.шт</span></div>
      </div>
        
      <form>
      </form>
      <div class="item-discription">{{ item.description }}</div>
    
    </div>

    <div class="item-price-container">
      <div class="item-price">{{ item.price }} <img src="/static/images/coin.png"></div>
      <form method="POST" id="purchase-form"><button class="accent buy-button" type="submit">Купить</button></form>
    </div>

  </div>

{% endblock content %}
