{% extends "common/base.html" %}


{% block title %}Поиск предметов{% endblock %}


{% block links %}
  <link rel="stylesheet" href="/static/css/common/search/found-elements.css">
  <link rel="stylesheet" href="/static/css/items/purchases.css">
{% endblock %}


{% block content %}

  {% if items %}
    <div class="found-elements-grid">
      {% for item in items %}
        <div class="found-element-card">
          <a href="items_users/{{ item['item'].itemshopid }}">
            <div class="found-element-info">
              <div class="purchase-info">
                <div class="purchase-top-info">

                  {% if item['item'].status == 'Принята' %}
                    <div class="status accepted">{{ item['item'].status }}</div>

                  {% elif item['item'].status == 'Ждёт вас' %}
                    <div class="status can-be-received">Ожидает</div>

                  {% elif item['item'].status == 'Получена' %}
                    <div class="status received">{{ item['item'].status }}</div>

                  {% endif %}

                  <div>{{ item['item'].date }}</div>

                </div>

                <div class="name">{{ item['shop_item'].name }}</div>

                <div class="secondary-info">
                  <div>{{ item['item'].count }} ед.</div>
                  <div>{{ item['user'].usersurname }} {{ item['user'].username[0] }}. {{ item['user'].userotchestvo[0] }}.</div>
                </div>

              </div>
            </div>
          </a>
        </div>
        
      {% endfor %}
    </div>
  {% else %}
    <div id="no-purchases">Нету запросов на покупку.</div>
  {% endif %}

{% endblock %}