{% extends "common/base.html" %}

{% block title %}Поиск предметов{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/css/common/search/found-elements.css">
  <link rel="stylesheet" href="/static/css/common/search/search.css">
  <link rel="stylesheet" href="/static/css/items/items.css">
{% endblock %}

{% block content %}

  <div class="search-container">
    <div class="left">
      <input id="search-bar" class="search-bar" type="text" name="bysort" placeholder="Поиск предмета" value="{{ search_text }}">
      <button id="search-button" class="accent search-btn" type="submit">Найти</button>
    </div>

    <div class="right">
      <div class="filters">

        <div class="filters-header">Искать по:</div>
        <label class="radio-button-label" for="name">
          <input type="radio" value="Название" id="name" name="sort" checked/>
          <span class="custom-radio-btn"></span>
          Названию
        </label>

        <label class="radio-button-label" for="description">
          <input type="radio" value="Описание" id="description" name="sort" />
          <span class="custom-radio-btn"></span>
          Описанию
        </label>

        <label class="radio-button-label" for="price">
          <input type="radio" value="Цена" id="price" name="sort" />
          <span class="custom-radio-btn"></span>
          Цене
        </label>
      </div>
      <button class="accent add-btn" type="button" onclick="document.location='/items/add'"></button>

    </div>
  </div>

  <div class="found-elements-grid">
    {% for item in items %}
      <div class="found-element-card">
        <a href="/items/{{ item.id }}/edit">
          <div class="found-element-info">
            <img class="item-image" src="/static/images/items_images/{{ item.photo }}" alt="Фото товара">
            
            <div class="main-info">
              <div class="name">{{ item.name }}</div>
              
              <div class="secondary-info">
                <div class="amount">{{ item.count }} ед.</div>
                <div class="price">{{ item.price }} <img src="/static/images/coin.png"></div>
              </div>
            </div>

          </div>
        </a>
      </div>
      
    {% endfor %}
  </div>

  <script>

    const search_bar = document.getElementById('search-bar');
    const search_button = document.getElementById('search-button');
    const radioBtns = document.querySelectorAll('input[name="sort"]');

    search_bar.addEventListener('keydown', function(e) {
      if (e.key == 'Enter') {
        search();
      }
    });

    search_button.addEventListener('click', function(e) {
      search();
    });

    function search() {

      const search_text = search_bar.value;
      let filter;

      for (const radio of radioBtns) {
        if (radio.checked) {
          filter = radio.value;
          break;
        }
      }

      const params = new URLSearchParams(`q=${search_text}&filter=${filter}`)
      window.location.search = params.toString();
    }
    
  </script>

{% endblock %}
